In [1]:
import pandas as pd
import numpy as np

### Read in and clean data to prepare for analysis

In [ ]:
def import_networks(fname):

In [17]:
epinions_data = pd.read_excel('soc-sign-epinions.xlsx', header = 3)
epinions_data

        # FromNodeId  ToNodeId  Sign
0                  0         1    -1
1                  1    128552    -1
2                  2         3     1
3                  4         5    -1
4                  4       155    -1
...              ...       ...   ...
841367        131821       366     1
841368        131822    112101     1
841369        131823    131824     1
841370        131825    131826     1
841371        131827      7714     1

[841372 rows x 3 columns]

In [106]:
# Read in the Wikipedia dataset

wikipedia_data = pd.read_excel('wikipedia_raw.xlsx')

In [54]:
# Get elections as separate objects (actually part of the same object, but separable)

election_index = wikipedia_data[wikipedia_data.iloc[:,0] == "E"].index

election_index = list(election_index)

votes = np.split(wikipedia_data, election_index)

In [107]:
# Count the number of votes casted in each election

voter_count = list()

for i in range(len(votes)):
    voter_count.append(len(votes[i][votes[i].iloc[:,0] == "V"].index))
    
voter_count = voter_count[1:]

In [104]:
# Create a list to be added as the "to" column

nominee_ids = list(wikipedia_data[wikipedia_data.iloc[:,0] == "U"].iloc[:,1])

nominee_col = []

for i in range(len(nominee_ids)):
    nominee_col += [nominee_ids[i]] * voter_count[i]

In [122]:
# Add the newly created "to" column to the dataset containing details of specific votes only

elections = wikipedia_data[wikipedia_data.iloc[:,0] == "V"]
elections.columns = ['row content', 'vote(1:support, 0:neutral, -1:oppose)', 'voter_id', 'time', 'voter_username']

elections['nominee_id'] = nominee_col

elections = elections[['voter_id', 'nominee_id', 'vote(1:support, 0:neutral, -1:oppose)', 'time']]
elections

C:\Users\Julcsi\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,voter_id,nominee_id,"vote(1:support, 0:neutral, -1:oppose)",time
9,3,30,1,2004-09-14 16:26:00
10,25,30,-1,2004-09-14 16:53:00
11,4,30,1,2004-09-14 17:08:00
12,5,30,1,2004-09-14 17:37:00
13,6,30,1,2004-09-14 19:28:00
...,...,...,...,...
128009,8045,6307,-1,2008-01-05 23:34:00
128010,7053,6307,-1,2008-01-05 23:36:00
128011,6885,6307,-1,2008-01-06 00:44:00
128012,8243,6307,-1,2008-01-06 01:07:00
128013,3404,6307,-1,2008-01-06 01:09:00

In [24]:
slashdot_data = pd.read_excel('soc-sign-Slashdot.xlsx', header = 3, sheet_name = '090221')
slashdot_data

        # FromNodeId  ToNodeId  Sign
0                  0         1     1
1                  0         2     1
2                  0         3     1
3                  0         4     1
4                  0         5     1
...              ...       ...   ...
549197         82140     81612     1
549198         82141     82129     1
549199         82141     82142     1
549200         82143     81974     1
549201         82143     82136     1

[549202 rows x 3 columns]

In [124]:
# Export datasets

epinions_data.to_csv("epinions_edgelist.csv")
elections.to_csv("wikipedia_edgelist.csv")
slashdot_data.to_csv("slashdot_edgelist.csv")